
footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:40px;
   width:100%;
   background:#333;
   z-index: 1000;
   padding: 5px;
   border-top: 1px solid #979797;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #959595; /* old IE */
    background-color: #959595; /* Modern Browsers */
}

#sidebar-wrapper h3{
	color:#DF6E62;
}

#sidebar-wrapper h4{
	color:#7D7D7D;
}

.my-container{
	padding-right: 10px;
	padding-left: 10px;
}

.center{
	margin: 0 auto;
	width: 70%;
}

.text-center{
	text-align: center;
}
.to-right{
	text-align: right;
	float: right;
}
.to-left{
	text-align: left;
	float: left;
}

#menu-toggle{
	position: fixed;
	z-index: 1;
	border-radius: 0;
	color: #000;
}
#menu-toggle:hover{
	background-color: #939393;
}

.my-box{
	border-radius: 10px;
	background-color: #34495E;
	padding: 15px;
	position: relative;
}

.columns{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.bottom-right{
	bottom: 0;
    right: 0;
    position: absolute;
}

.logo{
	font-family: 'lato';
	font-size: 130px;
	font-weight: 100;
}.logo span:first-child{
	color:#333;
}
.logo span:last-child{
	color:#D51C1C;
}

.box{
	background-color: #333;
	color: #fff;
	height: 180px;
	border: 1px solid;
}.box:hover{
	background-color: #424242;
}

.comite-name{
	font-family: 'lato';
	font-weight: 300;
	color: #fff;
}.acronym{
	font-size: 50px;
}.name{
	font-size: 19px;
}

.breadcrumb{
	position: absolute;
    top: 0;
    left: 50px;
}
#comite-logo{
	border: 2px solid #5B5B5B;
	margin-top: 10px;
}
.title{
	color: #B63B2F;
	font-family: 'lato';
	font-size: 130px;
	font-weight: 100;
}
.description{
	background:#555;
	border-radius:3px;
	padding:10px;
}
.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-color: #333;
	position: relative;
	/* width and height can be anything, as long as they're equal */
}.circle span{
	position: absolute;
    top: 50%;
    margin-top: -25px;
    margin-left: -40px;
	color: #fff;
	font-size: 30px;
}
.white{
	color: #fff;
}
.message-form{
	padding-bottom: 50px;
	padding-right: 25px;
	padding-left: 25px;
}
.comite-info{
	background-color: #333;
	color: #fff;
	font-size: 15px;
}